.footer {
    background-color: var(--el-grey);
    margin-top: 20px;
    padding: 28px 0 8px;
    &-items {
        display: flex;
        justify-content: space-between;
    }
    &-policy {
        margin-top: 13px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        text-align: center;
        letter-spacing: 0.05em;
        text-decoration-line: underline;
    }
    &-list {
        font-weight: 300;
        font-size: 14px;
        letter-spacing: 0.05em;
        li {
            margin-bottom: 6px;
            &:first-child {
                font-weight: 600;
            }
            a {
                display: flex;
                align-items: center;
                img {
                    width: 20px;
                    margin-right: 5px;
                }
            }
        }
    }
    &-socials {
        display: flex;
        margin-top: 11px;
        &-item {
            display: block;
            width: 36px;
            height: 35px;
            margin-right: 25px;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}