.main {
    background: url('../img/main-bg.png') center center/cover no-repeat;
    padding: 196px 0 9px;
    &-wrapper {
        border: 1px solid var(--el-white);
        padding: 45px 71px;
        width: 920px;
        margin: 0 auto 140px;
    }
    &-title {
        color: var(--el-white);
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 64px;
        text-align: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;
    }
    &-subtitle {
        font-family: 'Roboto';
        font-weight: 300;
        font-size: var(--el-18);
        text-align: center;
        color: var(--el-white);
        margin: 45px 0 0;
    }
    &-mouse {
        text-align: center;
    }
}